__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
.dockerignore
Dockerfile
.cache
.coverage.*
.nyc_output
node_modules
npm-debug.log*
.env
.venv
env/
venv/
*.sqlite3
*.db
migrations/
.DS_Store
.vscode/
.idea/